.DS_Store
python/data/bugReports
python/data/commits
python/data/commitsDF
python/data/EnhancedASTDiffgumInput
python/data/EnhancedASTDiffgumInput2
python/data/gitrepo
python/data/Defects4J
python/data/gumInput
python/data/gumInput2
python/data/pairs
python/data/pairsAction
python/data/pairsToken/
python/data/redis/*.rdb*
python/data/redis/backup
python/data/redis/backup1
python/data/gumInputold/
*.zip
*.7z
allDataset/
EnhancedASTDiffallDataset/
python/data/EnhancedASTDiffgumInput-old/
python/data/singleHunks
.idea/
__pycache__/